.THIS {
    width: 100%;
}

.THIS .hero-image {
    position: relative;
    padding: 250px 30px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
}

.THIS .chHeroOverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.THIS .chHeroContent {
	position: relative;
	z-index: 2;
}

/* Center Align */
.THIS .chHeroContent.chAlign-center .chHeroSearch {
	margin: 0 auto;
	text-align: center;
}

/* Right Align */
.THIS .chHeroContent.chAlign-right .chHeroSearch {
	text-align: right;
	float: right;
}


.THIS .chHeroSearch {
  	color: #fff;
  	width: 500px;
}

.THIS .chHeroSearch h4 {
	text-transform: uppercase;
}

.THIS .chHeroSearch h2 {
}

.THIS .chHeroSearch input {
	width: 100%;
	border: none;
	font-size: 16px;
	font-weight: 600;
	background: #fff;
	color: #000;
	padding: 10px;
	margin-top: 20px;
}

.THIS .chHeroSearch input::-webkit-input-placeholder {
	font-size: 16px;
	color: silver;
}

.THIS .chHeroSearch input:focus {
	outline: none;
}