.THIS.chSearchOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    padding: 20px 80px 5px 80px;
    z-index: 2;
}

.THIS .slds-form-element__control {
    width: 600px;
    margin: 0 auto;
}

.THIS.chSearchOverlay input {
    background: none;
    border: none;
    color: #fff;
    font-size: 32px;
    border-bottom: 1px solid silver;
    border-radius: 0;
}

.THIS.chSearchOverlay input:focus {
    box-shadow: none;
}

.THIS.chSearchOverlay input::-webkit-input-placeholder {
    font-size: 32px;
}

.THIS.chSearchOverlay .closeSearch {
    position: absolute;
    right: 20px;
    top: 30px;
}